page-about {
    ion-segment-button {
        border: 1px solid;
        background: rgba(2, 8, 4, 0.61) !important;
        color: white !important;
    }
    ion-segment-button:first-child 	 {
        border-bottom-left-radius: 35px;
    }
    ion-segment-button:nth-child(2)  {
        border-bottom-right-radius: 35px;
    }
}
