<!-- <component-charts></component-charts> -->
<ion-content padding>
    <ion-segment [(ngModel)]="howSearch">
        <ion-segment-button value="模糊搜索">
            模糊搜索
        </ion-segment-button>
        <ion-segment-button value="精确搜索">
            精确搜索
        </ion-segment-button>
    </ion-segment>
    <ng-container *ngIf="howSearch=='模糊搜索'">
        <ion-item class="marginTop">
            <ion-label fixed>课程名</ion-label>
            <ion-input type="text" [(ngModel)]="course"></ion-input>
        </ion-item>
        <button ion-button full outline color="light" class="opacityHalf">搜索</button>
        <ion-row>
            <ion-col (touchstart)="searchItem('课程')">
                <span>记不清课程名？快戳进来搜索~</span>
            </ion-col>
        </ion-row>
        <ion-item class="marginTop">
            <ion-label fixed>老师名</ion-label>
            <ion-input type="text" [(ngModel)]="teacher"></ion-input>
        </ion-item>
        <button ion-button full outline color="light" class="opacityHalf">搜索</button>
        <ion-row>
            <ion-col (touchstart)="searchItem('老师')">
                <span>老师名字都不知道？别说话，点我</span>
            </ion-col>
        </ion-row>
    </ng-container>
    <ng-container *ngIf="howSearch=='精确搜索'">
        <ion-row>
            <ion-col (touchstart)="searchItem('课程')">
                <span class="beautySpan">记不清课程名？快戳进来搜索~</span>
            </ion-col>
        </ion-row>
        <ion-item >
            <ion-label floating>课程名</ion-label>
            <ion-input type="text" [(ngModel)]="course"></ion-input>
        </ion-item>
        <ion-row>
            <ion-col (touchstart)="searchItem('老师')">
                <span class="beautySpan">老师名字都不知道？别说话，点我</span>
            </ion-col>
        </ion-row>
        <ion-item>
            <ion-label floating>老师名</ion-label>
            <ion-input type="text" [(ngModel)]="teacher"></ion-input>
        </ion-item>
        <button ion-button class="right opacityHalf" color="dark" full>搜索</button>
    </ng-container>
</ion-content>
