
<ion-header>

  <ion-navbar>
    <ion-title>细节</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<p *ngFor="let item of propArr;">{{item}} </p>
	<p *ngFor="let item of teacherDetails;let i = index; ">
		<!-- {{item.propArr[0]}} -->
		{{item[propArr[0]]}}
		{{item[propArr[1]]}}
		{{item[propArr[2]]}}
		{{item[propArr[3]]}}
		{{item[propArr[4]]}}
		{{item[propArr[5]]}}
		{{item[propArr[6]]}}
		{{item[propArr[7]]}}
		{{item[propArr[8]]}}
		<!-- <span>item</span> -->
	</p>
</ion-content>
