<ion-header>
    <ion-navbar>
        <ion-title text-center>细节</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-fab right top>
        <button ion-fab color="secondary" (click)="goToChooseCourse()">
            选课
        </button>
    </ion-fab>
    <!-- <div *ngFor="let item of teacherModels;let i = index; ">
        <p>教学班代码：{{item.classId}}</p>
        <p>课程名称：{{item.className}}</p>
        <p>教师：{{item.teacherName}}</p>
        <p>选课人数：{{item.studentCount}}</p>
        <p>平均分：{{item.avg}}</p>
        <p>不及格：{{item.badCount}}</p>
        <p>良好：{{item.commonCount}}</p>
        <p>优秀：{{item.goodCount}}</p>
        
    </div> -->
    <ion-card *ngFor="let item of teacherModels;let i = index; " class="gradeCard">
        <ion-card-content>
            <ion-card-title text-center>
                <h3>课程名：{{item.className}}</h3>
                <h4>{{item.teacherName}}-教学班代码：{{item.classId}}</h4>
            </ion-card-title>
            <ion-row text-center>
                <div class="progress-inner" [style.width]="item.avg + '%'">
                    平均{{item.avg.toFixed(2)}}分
                </div>
            </ion-row>
            <button ion-button (click)="toDetails(item)" tappable round full color="secondary">
                <ion-icon name="ios-paper">
                </ion-icon>查看详情（收费）</button>
        </ion-card-content>
    </ion-card>

    评论区：
    头像+评论

    编辑
</ion-content>
