<ion-header>
    <ion-navbar>
        <ion-title>choose-course</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-list-header text-center>
            我的选课篮
        </ion-list-header>
        <!-- 这里可能要做输入验证 -->
        <ion-input type="number" value="" placeholder="在这里输入10位选课代码" clear #todoText ></ion-input>
        <button ion-button (click)="addItem(todoText.value)" full>
            添加选课代码
        </button>
    </ion-list>
    <ion-row>
        <ion-col width-50>
            课程代码
        </ion-col>
        <ion-col width-25>
            选一门
        </ion-col>
        <ion-col width-25>
            删除
        </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of getToChooseCourse();let i =index ">
        <ion-col width-50>
            <!-- {{i + 1}} -->{{item.courseNumber}}
        </ion-col>
        <ion-col width-25>
            <!-- 按钮颜色可能要随机获取哦~ -->
            <button ion-button (click)="getValidate(item.courseNumber)" icon-only clear class="top17">
                <ion-icon name="ios-add-circle"></ion-icon>
            </button>
        </ion-col>
        <ion-col width-25>
            <ion-toggle [(ngModel)]="item.done" checked="false"></ion-toggle>
            <!-- <input type="checkbox" [(ngModel)]="item.done" /> -->
        </ion-col>
    </ion-row>
    <!--  <button ion-button (click)="getValidate()" full >
        获取选课验证码
    </button> -->
    <ng-container *ngIf="validate">
        <ion-title text-center>课程代码为{{courseId}}的验证码：</ion-title>
        <img src="http://202.203.209.96/vimgs/{{validate}}.png" alt="" *ngIf="validate" class="width100">
        <ion-input type="text" value="" placeholder="验证码" [(ngModel)]="validateCode"></ion-input>
        <button ion-button (click)="chooseSingleCourse(courseId)" full>
            确认选择
        </button>
    </ng-container>
</ion-content>
