<login-component (loginSuccess)="loadUserInfo($event)" *ngIf="!loginState"></login-component>
<ng-container *ngIf="loginState">
    <ion-content style="background-image': 'url(./assets/images/background-1.jpg)'">
        <h4 text-center color="danger">
        {{info['Name']}} <!-- <button ion-button clear (click)="loginState=false">注销</button> -->
    </h4>
        <ion-fab right top>
            <button ion-fab color="danger" (click)="loginOut()">
                <ion-icon name="ios-log-out"></ion-icon>
            </button>
        </ion-fab>
        <ion-searchbar placeholder="搜索课程" showCancelButton color="danger" (ionInput)="filterItems($event)"></ion-searchbar>
        <ion-card>
            <div class="progress-outer">
                <div class="progress-inner" [style.width]="avgGrade + '%'">
                    {{avgGrade}}分
                </div>
                <div class="progress-inner red" [style.width]="zAvg + '%'" >
                    专业课平均分:{{zAvg}}分
                </div>
                <div class="progress-inner cornflowerblue" [style.width]="gAvg + '%'">
                    公共课平均分:{{gAvg}}分
                </div>
            </div>
            <ion-card-header>
                成绩饼图
            </ion-card-header>
            <ion-card-content>
                <canvas #pieCanvas></canvas>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <!-- 把学期/课程名/成绩/绩点/学分 放进一个数据结构里，好统一操作 -->
            <ion-card-content *ngFor="let i = index;let item of courseData;">
                <ion-card-title>
                    学期: <span>  </span>{{item.semesterId}}期
                </ion-card-title>
                <h2>
                课程名：{{item.courseName}} 
                </h2>
                <p>
                    成绩:{{item.result}}分 绩点：{{item.gpa}} 学分：{{item.credit}} {{item.courseNature}}
                </p>
                <h3 color="secondary">
                <!-- 考核方式:{{studentGradeList[i].ScoreSettingStr}} -->
            </h3>
            </ion-card-content>
        </ion-card>
    </ion-content>
</ng-container>
