page-new-grade {
// 卡片样式
    .gradeCard {
        box-shadow: 6px 6px 6px 0.1vmax rgba(0, 0, 0, 0.5);
        border-bottom: 3px inset;
        border-radius: 12px;
        background-color: aliceblue;
        ion-card-title {
            h3 {
                padding: .5em 0;
                padding-top: 0;
                font-size: 2rem;
                font-weight: 800;
            }
            h4 {
                font-size: 1.5rem;
                font-weight: 300;
            }
        }
        ion-row {
            ion-label {
                margin-left: 13px;
                margin-right: 0;
                width: 100%;
                color: #B3B1B2;
                font-size: 14px;
                font-weight: 500;
            }
            h4 {
                font-size: 2rem;
                color: #5E5E5E;
                padding: .18em 0;
                display: inline-block;
            }
        }
    }
}
