// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-content {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
}

// tab样式
.show-tabbar {
    background-color: rgba(0, 0, 0, 0.75) !important;
}

.tab-button,
.tabs-md .tab-button .tab-button-icon {
    color: white !important;
}

.tab-button[aria-selected=true],
.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color: #fbed00 !important;
}

.align-center {
    text-align: center;
}

.highlight {
    background-color: #f4f4f4;
}

.center {
    display: block;
    margin: 0 auto;
}

.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.top-radius {
    border-radius: 30% 30% 0 0;
}

.bottom-radius {
    border-radius: 0 0 10% 10%;
}

.round {
    border-radius: 3%;
}

ion-content,
.transparent-header {
    // This is just to make the header transparent and button/icon with white color
    .toolbar-content,
    .back-button {
        color: white;
    }
    .toolbar-background,
    ion-navbar,
    ion-header {
        background: transparent !important;
        background-color: transparent !important;
    }
    .header-md::after,
    .toolbar-background-ios {
        background-image: none;
        border-bottom: 0;
    }
    .header-ios .toolbar-background-ios,
    .footer-ios .toolbar-background-ios {
        border: 0;
    }
    // ---
}

.borderRadius20 {
    border-radius: 20px;
}

.right {
    float: right;
}

.opacityHalf {
    opacity: 0.5;
}

.margin0 {
    margin: 0;
}

.padding0{
    padding:0;
}

.width100 {
    width: 100%;
}

//进度条样式
.progress-inner {
    min-width: 15%;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    border-radius: 20px;
    background-color: map-get($colors, secondary);
    opacity: 0.7;
}
