<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string>http://dn168.net/img/apk/IOSPatrol.ipa(安装包地址,最好是https开头)</string>
          </dict>
          <dict>
            <key>kind</key>
            <string>full-size-image</string>
            <key>needs-shine</key>
            <true/>
            <key>url</key>
            <string>https://o1wh05aeh.qnssl.com/image/view/app_icons/295dc62df89694b9bf5a4eb47dd2ce7a/120</string>
          </dict>
          <dict>
            <key>kind</key>
            <string>display-image</string>
            <key>needs-shine</key>
            <true/>
            <key>url</key>
            <string>https://o1wh05aeh.qnssl.com/image/view/app_icons/295dc62df89694b9bf5a4eb47dd2ce7a/120</string>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>com.company.dangerGrade</string>
          <key>bundle-version</key>
          <string>0.9.0(版本号)</string>
          <key>kind</key>
          <string>software</string>
          <key>title</key>
          <string>成绩有毒</string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>