<ion-header>
  <!-- 绑定 -->
  <ion-navbar>
      <ion-searchbar placeholder="搜索{{listType}}" showCancelButton color="danger" (ionInput)="filterItems($event)"></ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<button ion-item (click)="selectItem(item)" *ngFor="let item of itemList" >{{item}}</button>
	<ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="80px">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="加载更多中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
