<ion-header>
    <ion-navbar color="dark">
        <ion-title>
            <button ion-button icon-only navPop clear color="light">
                <ion-icon name="ios-arrow-dropleft-circle"></ion-icon>
            </button>
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="restore()">
                <ion-icon name="md-undo"></ion-icon>({{historical.length}})
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content class="main">
    <!--(swipe)="swipeEvent($event)"-->
    <div class="game-over-box" *ngIf="showGameOver">
        <h2>Game Over</h2>
        <h3>score:{{score}}</h3>
        <ion-fab center>
            <button ion-fab color="light">
                <ion-icon name="arrow-dropleft"></ion-icon>
            </button>
            <ion-fab-list side="left">
                <button ion-fab (click)="showGameOver = !1; start();">
                    <ion-icon name="md-refresh"></ion-icon>
                </button>
            </ion-fab-list>
            <ion-fab-list side="right">
                <button ion-fab (click)="showGameOver = !1">
                    <ion-icon name="ios-arrow-dropleft-circle"></ion-icon>
                </button>
            </ion-fab-list>
        </ion-fab>
    </div>
    <div class="swipeBox" swipe-vertical (swipe)="swipeEvent($event)"></div>
    <div class="score-box">
        <ion-row>
            <ion-col width-75>
                <h3>2048 <ion-icon name="game-controller-a"></ion-icon></h3>
            </ion-col>
            <ion-col>
                <button ion-button icon-only (click)="start()" clear color="dark">
                    <ion-icon name="md-refresh"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
        <div class="score">
            <p>得分</p>
            <p class="now">{{score}}</p>
        </div>
        <div class="score ">
            <p>最高</p>
            <p class="highest">{{highest}}</p>
        </div>
    </div>
    <div class="items-box">
        <div *ngFor="let item of items" [class]="'item item-'+ (item>8192 ? '16384' : item)">
            {{item
            < 2 ? '' : item}} </div>
        </div>
        <!-- <button ion-button (click)="up()">上</button>
        <button ion-button (click)="down()">下</button>
        <button ion-button (click)="left()">左</button>
        <button ion-button (click)="right()">右</button> -->
</ion-content>
